BLOBCONTAINERNAME=auditlogscontainer;BLOBSTORAGECONNECTIONSTRING=DefaultEndpointsProtocol\=https\;EndpointSuffix\=core.windows.net\;AccountName\=auditlogsigoreul\;AccountKey\=WFtFu6X1SW1ZCPf5aTmS2GgLrIqqtXWHcd4xfpSF+bE3UFVtGKog6Dyd/HI5L79012Q42um/ON+L+ASts7qTfg\=\=\;BlobEndpoint\=https://auditlogsigoreul.blob.core.windows.net/\;FileEndpoint\=https://auditlogsigoreul.file.core.windows.net/\;QueueEndpoint\=https://auditlogsigoreul.queue.core.windows.net/\;TableEndpoint\=https://auditlogsigoreul.table.core.windows.net/;EHUBNAMESPACECONNECTIONSTRING=Endpoint\=sb://aks-audit-logs.servicebus.windows.net/\;SharedAccessKeyName\=aks-audit-logs\;SharedAccessKey\=5JOF5eqUHuI1qbovXPIAnPLd/gjq/vHkM+AEhEzPWcw\=;EVENTHUBNAME=aks-audit-logs;LOGLEVEL=debug;WEBSINKURL=http://localhost:9765